{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles %}
{% load i18n %}

{% block title %} {{ block.super }} - {% trans "BasicViewer" %} {% endblock %}
{% block head %}
    {% include "geonode/ext_header.html" %}
    {% include "geonode/app_header.html" %}
    {{ block.super }}

{% endblock %}
{% block body %}
    <div id="page-wrapper">
        <div class="container-fluid">
            <div id="root"></div>
        </div>
    </div>

{% endblock %}
{% block extra_script %}
  <script src="{{ STATIC_URL }}cartoview_geo_observation/dist/commons.js"></script>
  <script src="{{ STATIC_URL }}cartoview_geo_observation/dist/config.bundle.js"></script>
    <script>
      const urls={
        MapsAPI: "{% url 'api_dispatch_list' api_name='api' resource_name='maps' %}",
        newMap:"{% url "new_map" %}",
        keywordsAPI: "{% url 'api_dispatch_list' api_name='api' resource_name='keywords' %}",
        profilesAPI: "{% url 'api_dispatch_list' api_name='api' resource_name='profiles' %}",
        appInstance: null,
        proxy: "{{ PROXY_URL }}",
        geoserverUrl : "{{ GEOSERVER_BASE_URL }}",
        static: "{{ STATIC_URL }}",
        media: "{{ MEDIA_URL }}",
        rest: "{% url 'app_manager_base_url' %}rest/app_manager/",
        geonodeRest: "{% url 'api_api_top_level' 'api' %}",
        appLogo:'{% static 'cartoview_geo_observation/logo.png' %}',
        layerAttributes:"{% url 'api_dispatch_list' api_name='' resource_name='geonodelayerattribute' %}",
        mapLayers:"{% url "cartoview_map_layers" %}",
        newURL:"{% url "cartoview_geo_observation.new" %}",
        editURL:function(id){
          return "/apps/cartoview_geo_observation/"+id+"/edit/"
        },
        viewURL:function(id){
          return "/apps/cartoview_geo_observation/"+id+"/view/"
        },
        detailsURL:function(id){
          return "/apps/appinstance/"+id+"/"
        },
        describeFeatureType: function(typename){
          return "{{ GEOSERVER_BASE_URL }}wfs?service=wfs&version=2.0.0&request=DescribeFeatureType&typeName="+typename+"&outputFormat=application/json"
        }

    }
    var username="{{request.user.username}}"
    var viewer=new Viewer('root',username,urls)
    viewer.view();
    </script>
 {% endblock %}