{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ instance.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no" />  
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}cartoview/img/icon.png" />
    <style>
        html,body {
            height: 100%;
            margin: 0px;
        }
        #root{
            height: 100%
        }
    </style>
</head>
<body>
<div style="height: 100%;" id="root"></div>
<script src="{{ STATIC_URL }}cartoview_basic_viewer/dist/commons.js"></script>
<script src="{% static 'cartoview_basic_viewer/dist/BasicViewer.bundle.js?version=2' %}"></script>
<script type="text/javascript">
    {% if instance %}
            const instanceId= {{ instance.id }}
            {% if PROXY_URL %}
                const PROXY_URL='{{PROXY_URL}}'
            {% else %}
                const PROXY_URL=null
            {% endif %}
            
            const urls={
                mapJsonUrl: "{% url 'map_json' mapid=instance.map.id %}",
                proxy: PROXY_URL,
                appInstance: "{% url 'api_dispatch_detail' api_name='api' resource_name='appinstances' pk=instance.id %}",
                geoserverUrl : "{{ GEOSERVER_BASE_URL }}",
                {% if 'access_token' in request.session %}
                    wfsURL : "{{ GEOSERVER_BASE_URL }}wfs?access_token={{request.session.access_token}}",
                    wmsURL : "{{ GEOSERVER_BASE_URL }}wms?access_token={{request.session.access_token}}",
                    {% else %}
                    wfsURL : "{{ GEOSERVER_BASE_URL }}wfs",
                    wmsURL : "{{ GEOSERVER_BASE_URL }}wms",
                {% endif %}
                geoserverPdfInfo:"{{ GEOSERVER_BASE_URL }}pdf/info.json",
                static: "{{ STATIC_URL }}",
                media: "{{ MEDIA_URL }}",
                layerAttributes:"{% url 'app_manager_base_url' %}rest/app_manager/geonodelayerattribute/",
                rest: "{% url 'app_manager_base_url' %}rest/app_manager/",
                geonodeRest: "{% url 'api_api_top_level' 'api' %}",
                // attachmentUploadUrl:function(layerName){
                //     return '{{SITEURL}}apps/cartoview_attachment_manager/'+layerName+'/file'
                // },
                // commentsUploadUrl:function(layerName){
                //     return '{{SITEURL}}apps/cartoview_attachment_manager/'+layerName+'/comment'
                // },
                appInstancesPage:"{% url 'appinstance_browse' %}?app__name={{instance.app.name}}&app__title={{instance.app.title}}",
                layers: "{% url 'layer_browse' %}",
                maps: "{% url 'maps_browse' %}",
                apps: "{% url 'app_manager_base_url' %}",
                viewURL: "{% url "cartoview_basic_viewer.view" instance_id=instance.id %}",
                appLogo:'{% static 'cartoview_basic_viewer/logo.png' %}'
            }
    {% endif %}

    const props = {{ instance.config | safe }}
    
    props.formTitle="{{instance.title}}"
    props.formAbstract="{{instance.abstract}}"
    props.username="{{request.user.username}}"
    BasicViewerContainer.show('root', props,urls);
  </script>
</body>
</html>
